<?xml version="1.0" encoding="utf-8" ?>

<configuration>
<connectionStrings>

	<add name ="Conexion"
		 connectionString= "Data Source=localhost\MSSQLSERVER01;Initial Catalog=BdEvaluacion; Persist Security Info=True;User ID=userExamen;Password=*Examen2022;Connect Timeout=200"
	providerName="System.Data.SqlClient" />

</connectionStrings>
</configuration>